node_modules/
.next/
.idea/
dist/
coverage/
*.log
*.tsbuildinfo

.env
.env.local
.env.*.local

data.json
data.json.old

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
